/*=============== BODY ===============*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*=============== HEADER ===============*/

#header{
    position: fixed;
    width: 100%;
    display: flex;
    height: 100px;
    background: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 30%);
    z-index: 100;
    transition: 0.5s;
}

/*=============== NAVBAR ===============*/
nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

nav ul{
    list-style: none;
    display: flex;
    width: 60%;
    /* gap: 40px; */
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

a{
    text-decoration: none;
    color: #212121;
}

.logo-icon{
    max-width: 80px;
    height: auto;
}

.nav-list{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-button{
    background: #FFB001;
    width: 152px;
    height: 57px;
    border-radius: 28.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-button a{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    height: 70%;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s ease-in;
    background: #212121;
}

.button-container{
    display: flex;
    gap: 30px;
    align-items: center;
}

.selector-list{
    display: none;
}

.selector-list li {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
    width: 100%;
}

.selector-list li:nth-child(4){
    border-bottom: none;
}

.selector-list.selectorActive{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    left: -10px;
    height: 133px;
    padding: 0 10px;
    width: 60px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.267);
    align-content: center;
    justify-content: space-around;
}
.selector {
    position: relative;
    display: block;
    text-align: left;
}

.selector-toggle {
	font-size: 17px;
}

.fa-chevron-down{
    font-size: 10px;
}

/* NAVBAR RESPONSIVE */

@media(max-width:1100px){
    nav ul {
        width: 70%;
    }
}

@media(max-width:882px){
    nav ul {
        width: 80%;
    }
}
@media(max-width:740px){
    .hamburger{
        display: block;
        right: 51px;
        top: 28px;
        z-index: 100;
        position: fixed;
        padding: 5px;
        background-color: transparent;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links{
        position: fixed;
        top: 100px;
        left: -1200px;
        gap: 50;
        height: 85%;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.4s ease;
        z-index: 100;
        justify-content: space-evenly;
    }

    .opacity{
        opacity: 0;
        transition: 0.3s;
    }
    .nav-list{
        flex-direction: column;
        gap: 70px;
    }

    .nav-links.active{
        left: 0;
    }

    .logo-main{
        position: fixed;
        left: 37px;
    }
    .selector{
    position: fixed;
    right: 106px;
    top: 36px;
    z-index: 100;
    }
}

/*=============== UPPER SECTION ===============*/

.container{
    display: flex;
    justify-content: center;
    padding-top: 118px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.upperTxt{
    width: 60%;
    height: 208px;
    font-size: 55px;
    text-align: center;
    margin-bottom: 50px;
}

.bottle-img{
    width: 95%;
}

.lowerTxt-container{
    background: #FFB001;
    height: 365px;
    display: flex;
    width: 95%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.txt-main{
    height: 100%;
    width: 60%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.innerTxt-1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.innerTxt-2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* LOWER SECTION  */

#lower-section{
    display: flex;
    width: 100%;
    justify-content: center;
}

.calculator-main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-text{
    display: flex;
    align-items: center;
    width: 100%;
    height: 175px;
    flex-direction: column;
    justify-content: space-evenly;
}

.save-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
}

.box-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.bill-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.cal-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 0;
}
.inner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.innerBox input{
    padding-left: 90px;
    height: 70px;
    width: 225px;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBox input:focus{
    border: 1px solid #FFB001;
}

::placeholder{
    font-size: 20px;
}

.cal-middle{
    width: 100%;
    background: #212121;
    height: 127px;
    display: flex;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cal-middle span{
    color: white;
    font-size: 20px;
}

.cal-middle span:nth-child(2){
    opacity: 0.5;
    font-size: 24px;
}

.cal-lower{
    display: flex;
    width: 100%;
    margin-top: 94px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-text span{
    width: 419px;
    height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.lower-button{
    background: #FFB001;
    margin: 74px 0;
    width: 40%;
    height: 95px;
    border-radius: 47.5px;
    display: flex;
    box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
}
.lower-button a{
    display: flex;
    height: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.lower-text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 100px;
}

/* RESPONSIVE WEB  */

@media(max-width:1100px){
    .upperTxt {
        width: 60%;
        height: 206px;
        font-size: 45px;
        margin-bottom: 34px;
    }
    .lower-button{
        width: 50%;
    }
}

@media(max-width:740px){
    .lower-button{
        width: 60%;
    }
}

@media(max-width:630px){
    .img-box {
       width: 100%;
    }
}

@media(max-width:585px){
    .upperTxt {
        width: 80%;
        height: 249px;
        font-size: 40px;
        margin-bottom: 26px;
    }
    .innerTxt-1{
        font-size: 35px;
    }
    .innerTxt-2{
        font-size: 18px;
    }
    .lower-button{
        width: 80%;
    }
}

@media(max-width:512px){
    .innerTxt-1 {
        font-size: 30px;
    }
    .innerTxt-2 {
        font-size: 16px;
    }
    .lower-button{
        width: 95%
    }
}

@media(max-width:366px){
    .upperTxt {
        width: 90%;
        height: 292px;
    }
    .lowerTxt-container{
        height: 435px;
    }
}

