/*=============== BODY ===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
/*=============== INLINE CSS ===============*/
.flexBox{
    display: flex;
}
.justifyCentre{
    justify-content: center;
}
.alignCentre{
    align-items: center;
}
.width100{
    width: 100%;
}
.flexDirColumn{
    flex-direction: column;
}
.font400{
    font-weight: 400;
}
.font900{
    font-weight: 900;
}
/*=============== HEADER ===============*/
#header{
    position: fixed;
    height: 100px;
    background: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 30%);
    z-index: 100;
    transition: 0.5s;
}
/*=============== NAVBAR ===============*/
nav{
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}
nav ul{
    list-style: none;
    width: 60%;
    justify-content: space-between;
}
nav ul li{
    font-size: 16px;
    line-height: 20px;
}
a{
    text-decoration: none;
    color: #212121;
}
.logo-icon{
    max-width: 80px;
}
.button-container{  
    gap: 30px;
}
.nav-list{
    gap: 40px;
}
.nav-button{
    background: #FFB001;
    width: 152px;
    height: 57px;
    border-radius: 28.5px;
}
.nav-button a{
    font-weight: 800;
    font-size: 16px;
    height: 70%;
    width: 90%;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s ease-in;
    background: #212121;
}
.selector-list{
    display: none;
}
.selector-list li {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
    width: 100%;
}
.selector-list li:nth-child(4){
    border-bottom: none;
}
.selector-list.selectorActive{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    left: -5px;
    height: 133px;
    padding: 0 10px;
    width: 60px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.267);
    align-content: center;
    justify-content: space-around;
}
.selector {
    position: relative;
    display: block;
    text-align: left;
}
.selector-toggle {
	font-size: 17px;
}
.fa-chevron-down{
    font-size: 10px;
}
/*=============== NAVBAR RESPONSIVE ===============*/
@media(max-width:1100px){
    nav ul {
        width: 70%;
    }
}
@media(max-width:882px){
    nav ul {
        width: 80%;
    }
}
@media(max-width:740px){
    .hamburger{
        display: block;
        right: 51px;
        top: 28px;
        z-index: 100;
        position: fixed;
        padding: 5px;
        background-color: transparent;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links{
        position: fixed;
        top: 100px;
        left: -1200px;
        gap: 50;
        width: 100%;
        height: 85%;
        flex-direction: column;
        transition: 0.4s ease;
        z-index: 100;
        justify-content: space-evenly;
    }
    .opacity{
        opacity: 0;
        display: none;
        transition: 0.3s;
    }
    .nav-list{
        flex-direction: column;
        gap: 70px;
    }
    .nav-links.active{
        left: 0;
    }
    .logo-main{
        position: fixed;
        left: 37px;
    }
    .selector{
        position: fixed;
        right: 106px;
        top: 36px;
        z-index: 100;
    }
}
/*=============== UPPER SECTION ===============*/
.container{
    padding-top: 118px;
    margin-bottom: 50px;
}
.upperTxt{
    width: 60%;
    height: 208px;
    font-size: 55px;
    margin: 50px 0;
}
.bottle-img{
    width: 95%;
}
.bag-img{
    width: 50px;
    height: 50px;
    z-index: 1;
    position: absolute;
    left: 75%;
    bottom: 19%;
    border-radius: 50%;
    background: #FFB001;
    display: none;
}
.bag-img img{
    height: 100%;
    border-radius: 50%;
}
/* BAG IMG RESPOSNSIVE */

@media(max-width:500px){
    .bag-img{
    display: block;
    left: 75%;
    bottom: -5%;
    }
}
@media(max-width:315px){
    .bag-img{
    left: 70%;
    bottom: -5%;
    }
}
.middleTxt-container{
    background: #FFB001;
    height: 365px;
    width: 95%;
    border-radius: 30px;
}
.txt-main{
    height: 100%;
    width: 60%;
    padding: 20px 0;
    justify-content: space-between;
}
.innerTxt-1{
    font-size: 40px;
}
.innerTxt-2{
    font-size: 20px;
}
/*=============== LOWER SECTION ===============*/
.calculator-main{
    width: 80%;
}
.calc-text{
    height: 175px;
    justify-content: space-evenly;
}
.save-text{
    font-style: normal;
    font-size: 40px;
}
.bill-text{
    font-size: 20px;
}
.cal-boxes{
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0;
}
.box-main{
    margin: 20px 0;
}
.inner-text{
    margin: 25px 0;
    font-size: 20px;
    text-align: center;
}
.innerBox input{
    padding-left: 90px;
    height: 70px;
    width: 225px;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.innerBox input:focus{
    border: 1px solid #FFB001;
}
::placeholder{
    font-size: 20px;
}
.cal-middle{
    background: #212121;
    height: 127px;
    border-radius: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cal-middle span{
    color: white;
    font-size: 20px;
}
.cal-middle span:nth-child(2){
    opacity: 0.5;
    font-size: 24px;
}
.cal-lower{
    margin-top: 94px;
}
.lower-text span{
    width: 419px;
    height: 32px;
    font-style: normal;
    font-size: 20px;
}
.lower-button{
    background: #FFB001;
    margin: 74px 0;
    width: 40%;
    height: 95px;
    border-radius: 47.5px;
    box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
}
.lower-button a{
    height: 90%;
    font-style: normal;
    font-size: 24px;
    width: 80%;
}
.lower-text2{
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 100px;
}
/*=============== RESPONSIVE WEB ===============*/
@media(max-width:1100px){
    .upperTxt {
        width: 60%;
        height: 206px;
        font-size: 45px;
        margin-bottom: 34px;
    }
    .lower-button{
        width: 50%;
    }
}
@media(max-width:740px){
    .lower-button{
        width: 60%;
    }
}
@media(max-width:630px){
    .img-box {
       width: 100%;
    }
}
@media(max-width:585px){
    .upperTxt {
        width: 80%;
        height: 249px;
        font-size: 40px;
        margin-bottom: 26px;
    }
    .innerTxt-1{
        font-size: 35px;
    }
    .innerTxt-2{
        font-size: 18px;
    }
    .lower-button{
        width: 80%;
    }
}
@media(max-width:512px){
    .innerTxt-1 {
        font-size: 30px;
    }
    .innerTxt-2 {
        font-size: 16px;
    }
    .lower-button{
        width: 95%
    }
}
@media(max-width:366px){
    .upperTxt {
        width: 90%;
        height: 292px;
    }
    .lowerTxt-container{
        height: 435px;
    }
}
